/* Responsiveness app wrapper */
@media screen and (width > 1440px) {
    .background {
        display: block;
    }
    .app-wrapper {
        width: 1400px;
        height: 95vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
}

/* Responsiveness conversation panel */
@media screen and  (width > 1050px){
    .connection__img {
        width: 350px;
    }
    .connection__text {
        width: 600px;
    }
    .conversation-messages__message {
        max-width: 500px;
    }
}